/* 
@theme mytheme
@import 'default';
*/
@import 'default';

section.slides.qrimg {
  max-width: 200px;
  max-height: 200px;
}

footer {
  color: #9ce;
  font-size: 0.5em;
  font-weight: 500;
  margin-left: 380px;
  margin-right: 0px;
}

.yatta {
  color: #666;
  font-weight: 800;
  margin-left: 380px;
  margin-right: 0px;
}

.text-center {
  margin-left: 200px;
  margin-right: 0px;
}